
body {
    color: #333;
    font-size: 62.5%;
    font-family: "Gill Sans", Verdana, sans-serif;
    background-image: none;
    background-repeat: repeat-x;
    background-position: 0px 0px;
}

.content-text {
    font-size: 1.2em;
}


