#rep_top_details{
    margin-bottom: 40px;
}

.assay_columns {
    padding: 0px !important;
    margin-top: 10px;
}

.assay_column {
    width: 537px !important;
}

.assay_column_title {
}

.assay_row >div:first-child {
    float: left;
    margin-right: 10px;
}

.assay_row > div:first-child > img {
    height: 30px;
    width: auto;
}