/**
 * 	SEARCH PAGE
 */

#browse {
    background-color: rgb(89, 89, 90) !important;
    background-color: rgba(89, 89, 90, 0.4) !important;
}

h3 {
    text-align: left;
}

/**
 * 	INVESTIGATION
 */
#results {
    margin: 0px;
    padding: 0px;
}

/*#results div {*/
/*display: inline-block;*/
/*display: inline;*/
/*}*/

.inv_id {
    float: left;
    width: 24px;
    margin-right: 10px;
    background-color: #f2f3f4;
    position: relative;
}

.inv_id > div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
    line-height: 24px;
    white-space: nowrap;
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}

.inv_id > a:hover {
    cursor: pointer;
}

/**
 * 	STUDIES
 */
.studies {
    float: right;
    width: 1050px;
}

.study a{
     color: #ffffff;
 }

.study {
    margin-bottom: 10px;
    height: 120px;
}

.study_id {
    width: 70px;
    height: 120px;
    background-color: #24aae1;
    float: left;
    margin-right: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 120px;
}

.study_info {
    width: 970px;
    height: 120px;
    float: right;
    font-size: 13px;
}

.study_char {
    width: 100%;
    background-color: #f2f3f4;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.study_details {
    margin-top: 5px;
}

.study_title {
    width: 480px;
    margin-right: 10px;
    float: left;
    line-height: 18px;
    word-wrap: break-word;
}

/**
 * 	ASSAYS
 */
.assays {
    float: right;
    width: 480px;
    font-size: 11px;
}

.assay {
    margin-left: 5px;
    margin-top: 0px;
    height: 90px;
    width: 150px;
    float: left;
}

.assay > a > div:first-child {
    background-color: #24aae1;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0px 2px;
    width: 20px;
}

.assay_type {
    background-color: #f2f3f4;
    height: 70px;
    text-align: center;
    color: black;
}

.assay_type div {
    text-align: center;
    width: 65px;
    height: 60px;
    float: left;
    margin-top: 12px;
}

.assay_type div {
    margin-left: 5px;
}

.assay_type img {
    margin-bottom: 3px;
    vertical-align: top;
    height: 20px;
    width: auto;
}

.assay_type p {
    margin: 0px;
    line-height: 11px;
}

