.rep_container {
    margin-bottom: 40px;
    overflow: hidden;
    width: 1084px;
}

.rep_container p {
    margin: 0px;
}

.gray_title {
    margin: 10px 0px;
    padding: 0px 10px;
    background-color:#f3f3f4;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

/**
HEADER
**/

.headerdivider {
    border-left: 7px white solid;
    margin-right: 0px;
    margin-left: 15px;
}

#rep_header_blue {
    height: 100px;
    background-color: #24aae1;
    padding: 0px 20px;
    line-height: 100px;
}

#rep_header_blue h1 {
    font-size: 50px;
    margin: 0px;
    line-height: 100px;
    color: white !important;
    float: left;
}

#rep_header_blue div {
    float: right;
}

/**
DETAILS
**/

#rep_header_details p:first-child {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 25px;
}

#rep_header_details p:last-child {
    font-size: 14px;
}

/**
DEEP GRAY HEADERS
**/

.rep_header {
    background-color: #6e6e70;
    height: 60px;
    padding: 0px 20px;
    line-height: 60px;
}

.rep_header > div:first-child {
    height: 30px;
    padding: 0px 20px;
    line-height: 60px;
}

.rep_header h2 {
    line-height: 60px;
    color: #ffffff;
    float: left;
    margin: 0px;
    font-size: 30px;
}

.rep_header div {
    float: right;
}

.rep_header div img{
    margin-top:-3px;
}

/**
CONTACTS
**/

.rep_contact {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #f3f3f4;
    float: left;
    width: 200px;
    word-wrap: break-word;
    line-height: 25px;
}

.rep_contact_name {
    font-weight: bold;
}
