/**
   ASSAYS
**/

.assay_num {
    margin-left: 20px;
    background-color: #24aae1;
    color: #ffffff;
    border-radius: 18px;
    padding: 3px;
}

.assay_title a {
    background-color: #24aae1;
    color: #ffffff;
    font-size: 15px;
    padding: 3px;
}

.assay_details_title {
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0px;
}

.assay_details_title>div {
    float: left;
}

.assay_details_title>div img {
    margin-top: -2px;
    height: 30px;
    width: 30px;
}

.assay_details_title span {
    font-size: 20px;
    margin-left: 10px;
}

.assay_details > div:first-child span span {
    background-color: #f3f3f4;
    font-size: 15px;
    padding: 3px;
    font-weight: bold;
}

.assay_columns {
    overflow: hidden;
    padding: 0px 40px;
}

.assay_column {
    width: 497px;
}

.assay_columns > .assay_column:first-child {
    float: left;
}

.assay_columns > .assay_column:nth-child(2) {
    float: right;
    margin-left: 10px;
}

.assay_column_title {
    padding: 0px 10px;
    line-height: 40px;
    background-color: #f3f3f4;
    border-left: 10px solid #6e6e70;
    margin: 10px 0px;
    overflow: hidden;
}

.assay_column_title div {
    float: right;
}

.assay_column_title div img {
    margin-top: -3px;
    width: 30px;
    height: 30px;
}

.assay_column_title>span {
    float: left;
}

.assay_row {
    border-top: 2px solid #f3f3f4;
    border-left: 2px solid #f3f3f4;
    border-right: 2px solid #f3f3f4;
    line-height: 50px;
    overflow: hidden;
    padding: 0px 10px;
}

.assay_row a {
    float: left;
}

.assay_row div {
    float: right;
}

.assay_row div img {
    margin-top: -2px;
    height: 40px;
}

.assay_row div img {
    margin-left: 5px;
}

.assay_row div img:first-child {
    margin-left: 0px;
}

.assay_rows .assay_row:last-child {
    border-bottom: 2px solid #f3f3f4;
}
