@CHARSET "ISO-8859-1";

/*
 * BODY, Container
 */
html, body {
    height: 100%;
    width: 100%;
    background-color:#cccccc !important; 
}

h1 {
    color: #3e3e3f !important;
}

.container {
    height: 100%;
    width: 1164px !important;
    background-color:white !important; 
}

/**
 *     TOP NAVBAR
 */
#searchbar {
    border-radius: 3px !important;
}

.btn {
    background-color: #3e3e3f !important;
    background-image: linear-gradient(#4f4f50, #3e3e3f) !important;
}

.navbar {
    background-color: white !important;
    background-image: linear-gradient(white, white) !important;
    border-width:0px !important;
    color:#3e3e3f;
    width: 1164px;
    margin:0 auto;
}

.navbar > div{
	margin-top:30px !important;
	height: 40px;
	padding-bottom:0px;
}

.navbar #top{
	margin-left:20px;
	padding-top:2.5px;
	padding-bottom:2.5px;
}

.navbar #top a {
	font-size: 16px;
    color: #3e3e3f !important;
    font-weight:bolder;
    padding-top:10px !important;
    padding-bottom:10px !important;
    padding-left:6px !important; 
    padding-right:6px !important;
    text-shadow: 0 0 0 !important;
}

.navbar li:hover {
    background-color: rgba(79,79,80,0.4);
}

ul #user_profile{
    text-align: center;
    width: 150px;
    border-radius:0px 0px 0px 10px;
    border:2px;
}

#signin{
	border-right: 2px #3e3e3f solid;	
}

/**
 * 	MAIN MENU
 */

#main-menu{
	height:90px;
	background-color: #3e3e3f;
	text-align: center;
	padding:0px 10px;
}

#main-menu ul{
	margin-top:10px;
}

#main-menu li{
	height:60px;
	width:70px;
	padding:5px;
	text-align: center;
	border-radius: 5px;
}

#main-menu li:hover{
	cursor: pointer;
}

#main-menu img{
	height:36px;
}
#main-menu a{
	padding:0px 0px 0px 0px;
}
#main-menu p{
	padding:5px 0px 0px 0px;
	color:white;
	font-weight: normal;
	font-size:16px;
}

/**
 * 		LOGIN DROPDOWN
 */

#signin.dropdown:hover div.dropdown-menu {
    display: block;
}

#signin a.menu:after, #signin.dropdown-toggle:after {
    content: none;
}

/**
 * 		PROFILE DROPDOWN
 */

#dropdown-profile {
    display: none;
    margin-top:0px;
    padding: 0px;
}
#dropdown-profile ul {
    list-style-type: none;
    margin:0px 0px 0px 0px ;
}
#dropdown-profile li {
    height: 40px;
    line-height:40px;
}

#dropdown-profile li:last-child {
   border-radius:0px 0px 0px 10px;
   border:2px;
}

#dropdown-profile li > a {
    text-align:center;
    font-weight: bold;
}

#dropdown-profile li > a:hover{
    text-decoration: none;
}

#user_profile.dropdown:hover div#dropdown-profile {
    display: block;
}

#user_profile a.menu:after, #user_profile.dropdown-toggle:after {
    content: none;
}

/**
 *     MAIN CONTENT
 */
#main-container {
    margin: 250px auto;
    text-align: center;
}

#main-content {
    display: inline-block;
    *display: inline;/* IE*/
    *zoom: 1;/* IE*/
    overflow: hidden;
    text-align: left;
}
