@CHARSET "ISO-8859-1";

/*
 * BODY, Container
 */
html, body {
    height: 100%;
    width: 100%;
}

h1 {
    color: #3B5999 !important;
}

.container {
    height: 100%;
    width: 100% !important;
}

/**
 *     TOP NAVBAR
 */
#searchbar {
    border-radius: 3px !important;
}

.btn {
    background-color: #3B5999 !important;
    background-image: linear-gradient(#476BB8, #3B5999) !important;
}

.navbar {
    height: 40px !important;
    background-color: #3B5999 !important;
    background-image: linear-gradient(#476BB8, #3B5999) !important;
}

.navbar a {
    color: #ffffff !important;
}

.navbar li:hover {
    background-color: #5678BE;
}

.navbar .caret {
    border-top-color: #ffffff !important;
    border-bottom-color: #ffffff !important;
}

ul #user_profile{
    text-align: center;
    min-width: 150px;
    border-radius:0px 0px 0px 10px;
    border:2px;
}

/**
 * 		LOGIN DROPDOWN
 */

#signin.dropdown:hover div.dropdown-menu {
    display: block;
}

#signin a.menu:after, #signin.dropdown-toggle:after {
    content: none;
}

/**
 * 		PROFILE DROPDOWN
 */

#dropdown-profile {
    display: none;
    margin-top:0px;
    padding: 0px;
}
#dropdown-profile ul {
    list-style-type: none;
    margin:0px 0px 0px 0px ;
}
#dropdown-profile li {
    height: 40px;
    line-height:40px;
}

#dropdown-profile li:last-child {
   border-radius:0px 0px 0px 10px;
    border:2px;
}

#dropdown-profile li > a {
    text-align:center;
    font-weight: bold;
}

#dropdown-profile li > a:hover{
    color: yellow!important;
    text-decoration: none;
}

#dropdown-profile a:hover{
     background-color: #5678BE;
} 

#user_profile.dropdown:hover div#dropdown-profile {
    display: block;
}

#user_profile a.menu:after, #user_profile.dropdown-toggle:after {
    content: none;
}

/**
 *     MAIN CONTENT
 */
#main-container {
    margin-top: 80px;
    text-align: center;
}

#main-content {
    display: inline-block;
    *display: inline;/* IE*/
    *zoom: 1;/* IE*/
    overflow: hidden;
    text-align: left;
}
