@CHARSET "ISO-8859-1";

.field{
    min-width: 300px !important;
}

label{
  color:#3e3e3f !important;  
}

label a{
  color:#24aae1 !important;  
}

[readonly]{
	background-color:white!important;
}

p{
    color:#3e3e3f;
    font-size: 16px;
}

p a{
    color:#3e3e3f;
    font-weight: bold;
}

.errors{
    color:red;
}

.errorlist{
    color:red;
}

p a:hover{
    color:#3e3e3f;
}

h1+p{
	max-width: 700px;
}

