{% load static from staticfiles %}
<div id="basket-menu" class="dropdown-menu">
    <ul>
        <li><span>6</span> Items in your basket</li>
        <li class="divider"></li>
        <li><a href="#"><img src="{% static 'browse/img/basket_x.png' %}"/></a><a href="{% url 'browse.investigation.study.sample' %}">GSM 33421</a><span>carbon 0.07 l/hour</span>
        </li>
        <li><a href="#"><img src="{% static 'browse/img/basket_x.png' %}"/></a><a href="{% url 'browse.investigation.study.sample' %}">GSM 33421</a><span>carbon 0.01 l/hour</span>
        </li>
        <li><a href="#"><img src="{% static 'browse/img/basket_x.png' %}"/></a><a href="{% url 'browse.investigation.study.sample' %}">GSM 33421</a><span>carbon 0.07 l/hour</span>
        </li>
        <li><a href="#"><img src="{% static 'browse/img/basket_x.png' %}"/></a><a href="{% url 'browse.investigation.study.sample' %}">GSM 33421</a><span>carbon 0.02 l/hour</span>
        </li>
        <li><a href="#"><img src="{% static 'browse/img/basket_x.png' %}"/></a><a href="{% url 'browse.investigation.study.sample' %}">GSM 33421</a><span>sulphur 0.07 l/hour</span>
        </li>
        <li><a href="#"><img src="{% static 'browse/img/basket_x.png' %}"/></a><a href="{% url 'browse.investigation.study.sample' %}">GSM 33421</a><span>sulphur 0.02 l/hour</span>
        </li>
    </ul>

    <a><img src="{% static 'browse/img/download2.png' %}"/></a>
    <a><img src="{% static 'browse/img/analysis.png' %}"/></a>
</div>