{% extends "base.html" %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block extrahead %}
<link href="{% static 'browse/css/browse.css' %}" rel="stylesheet">
<script src="{% static 'browse/js/browse.js' %}"></script>
{% endblock %}
{% block title %}BII | Search{% endblock %}
{% block content %}

<div id="results">
	<div class="investigation">
		<div class="inv_id">
			<div><a href="{% url 'browse.investigation' %}">BII-I-1</a></div>
            <!--<a href="{% url 'browse.investigation' %}"><p>BII-I-1</p></a>-->
		</div>
		<div class="studies">
			<div class="study">
				<div class="study_id">
                    <a href="{% url 'browse.investigation.study' %}">BII-S-1</a>
				</div>
				<div class="study_info">
					<div class="study_char">
						SACCHROMYCES CEREVISIAE (BAKER'S YEAST)
					</div>
					<div class="study_details">
						<div class="study_title">
							Study of the impact of changes in flux on the transcriptome,
							proteome, endometabolome and exometabolome of the yeast
							Saccharomyces cerevisiae under different nutrient limitations
						</div>
						<div class="assays">
							<div class="assay">
								<div>
									45
								</div>
								<div class="assay_type">
									<div>
										<img src="{% static 'browse/img/transcription.png' %}"/>
										<p>
											transcription profiling
										</p>
									</div>
									<div>
										<img src="{% static 'browse/img/microarray.png' %}"/>
										<p>
											dna microarray
										</p>
									</div>
								</div>
							</div>
							
							<div class="assay">
								<div>
									111
								</div>
								<div class="assay_type">
									<div>
										<img src="{% static 'browse/img/metabolite.png' %}"/>
										<p>
											metabolite profiling
										</p>
									</div>
									<div>
										<img src="{% static 'browse/img/spectrometry.png' %}"/>
										<p>
											mass spectrometry
										</p>
									</div>
								</div>
							</div>
							
							<div class="assay">
								<div>
									3
								</div>
								<div class="assay_type">
									<div>
										<img src="{% static 'browse/img/protein.png' %}"/>
										<p>
											protein expression profiling
										</p>
									</div>
									<div>
										<img src="{% static 'browse/img/spectrometry.png' %}"/>
										<p>
											mass spectrometry
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="study">
				<div class="study_id">
                    <a href="{% url 'browse.investigation.study' %}">BII-S-2</a>
				</div>
				<div class="study_info">
					<div class="study_char">
						SACCHROMYCES CEREVISIAE (BAKER'S YEAST)
					</div>
					<div class="study_details">
						<div class="study_title">
							A time course analysis of transcription response in 
							yeast treated with rapamycin, a specific inhibitor of 
							the TORC1 complex: impact on yeast growth
						</div>
						<div class="assays">
							<div class="assay">
								<div>
									14
								</div>
								<div class="assay_type">
									<div>
										<img src="{% static 'browse/img/transcription.png' %}"/>
										<p>
											transcription profiling
										</p>
									</div>
									<div>
										<img src="{% static 'browse/img/microarray.png' %}"/>
										<p>
											dna microarray
										</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="study">
				<div class="study_id">
                    <a href="{% url 'browse.investigation.study' %}">BII-S-3</a>
				</div>
				<div class="study_info">
					<div class="study_char">
						MARINE METAGENOME
					</div>
					<div class="study_details">
						<div class="study_title">
							Metagenomes and Metatranscriptomes of phytoplankton blooms 
							from an ocean acidification mesocosm experiment
						</div>
						<div class="assays">
							<div class="assay">
								<div>
									4
								</div>
								<div class="assay_type">
									<div>
										<img src="{% static 'browse/img/transcription.png' %}"/>
										<p>
											transcription profiling
										</p>
									</div>
									<div>
										<img src="{% static 'browse/img/nucleotide.png' %}"/>
										<p>
											nucleotide sequencing
										</p>
									</div>
								</div>
							</div>
							<div class="assay">
								<div>
									111
								</div>
								<div class="assay_type">
									<div>
										<img src="{% static 'browse/img/metagenome.png' %}"/>
										<p>
											metagenome sequencing
										</p>
									</div>
									<div>
										<img src="{% static 'browse/img/nucleotide.png' %}"/>
										<p>
											nucleotide sequencing
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>

{% endblock %}

