{% extends "browse_base.html" %}
{% load static from staticfiles %}
{% block extra_browse_script %}
<script>
    vars.urls.getPage = "{% url 'browse.getPage' 1 %}".slice(0, -2)
</script>
<script src="{% static 'browse/js/browse.js' %}"></script>
<script src="{% static 'browse/js/lib/bootstrap-paginator.min.js' %}"></script>
{% endblock %}

{% block title %}BII | Search{% endblock %}
{% block browse_content %}

<div id="pagination"></div>

<div id="results">
    {% for investigation in data.investigations %}
    <div class="investigation">
        <div class="inv_id">
            <div><a href="{% url 'browse.investigation' forloop.counter0 %}">{{ investigation.i_id }}</a></div>
        </div>
        <div class="studies">
            {% for study in investigation.i_studies %}
            <div class="study">
                <div class="study_id">
                    <a href="{% url 'browse.investigation.study' forloop.parentloop.counter0 forloop.counter0 %}">{{ study.s_id }}</a>
                </div>
                <div class="study_info">
                    <div class="study_char">
                        {% for organism in study.s_organisms %}
                        <span>{{ organism }}</span>
                        {% endfor %}
                    </div>
                    <div class="study_details">
                        <div class="study_title">
                            {{ study.s_title }}
                        </div>
                        <div class="assays">
                            {% for assay in study.s_assays %}
                            <div class="assay">
                                <a href="{% url 'browse.investigation.study.assay' forloop.parentloop.parentloop.counter0 forloop.parentloop.counter0 forloop.counter0 %}">
                                    <div>
                                        {{assay.number_of_samples}}
                                    </div>
                                    <div class="assay_type">
                                        <div>
                                            <img src="{% static 'browse/img/measurements/'%}{{assay.measurement}}.png"/>

                                            <p>
                                                {{assay.measurement}}
                                            </p>
                                        </div>
                                        <div>
                                            <img src="{% static 'browse/img/technologies/'%}{{assay.technology}}.png"/>
                                            <p>
                                                {{assay.technology}}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% for study in data.studies %}
    <div class="study">
        <div class="study_id">
            <a href="{% url 'browse.study' forloop.counter0 %}">{{ study.s_id }}</a>
        </div>
        <div class="study_info">
            <div class="study_char">
                {% for organism in study.s_organisms %}
                <span>{{ organism }}</span>
                {% endfor %}
            </div>
            <div class="study_details">
                <div class="study_title">
                    {{ study.s_title }}
                </div>
                <div class="assays">
                    {% for assay in study.s_assays %}
                    <div class="assay">
                        <a href="{% url 'browse.study.assay' forloop.parentloop.counter0 forloop.counter0 %}">
                            <div>
                                {{assay.number_of_samples}}
                            </div>
                            <div class="assay_type">
                                <div>
                                    <img src="{% static 'browse/img/measurements/'%}{{assay.measurement}}.png"/>

                                    <p>
                                        {{assay.measurement}}
                                    </p>
                                </div>
                                <div>
                                    <img src="{% static 'browse/img/technologies/'%}{{assay.technology}}.png"/>

                                    <p>
                                        {{assay.technology}}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

