{% extends "browse_base.html" %}
{% load static from staticfiles %}
{% block extra_browse_css %}
<link href="{% static 'browse/css/report.css' %}" rel="stylesheet">
<link href="{% static 'browse/css/investigation.css' %}" rel="stylesheet">
<link href="{% static 'browse/css/browse.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_browse_script %}
<script>
    var data = {% autoescape off %}{{data}}{% endautoescape %};
    if (data && data.length > 0) {
        data.replace("\'","\\\'")
        data = JSON.parse(data);
    }
    vars.investigation = data.investigations[0];
</script>
<script src="{% static 'browse/js/contacts_model.js' %}"></script>
<script src="{% static 'browse/js/assays_model.js' %}"></script>
<script src="{% static 'browse/js/factors_model.js' %}"></script>
<script src="{% static 'browse/js/protocols_model.js' %}"></script>
<script src="{% static 'browse/js/publications_model.js' %}"></script>
<script src="{% static 'browse/js/study_model.js' %}"></script>
<script src="{% static 'browse/js/investigation_model.js' %}"></script>
<script src="{% static 'browse/js/view_model.js' %}"></script>
<script src="{% static 'browse/js/collapse.js' %}"></script>
<script src="{% static 'browse/js/investigation.js' %}"></script>
{% endblock %}

{% block title %}BII | Investigation{% endblock %}
{% block browse_content %}

<div id="rep_top_details" class="rep_container">
    <div id="rep_header_blue">
        <h1 data-bind='text: investigation().i_id'></h1>

        <div>
            <a href=""><img src="{% static 'browse/img/download.png' %}"/></a>
            <a href=""><img src="{% static 'browse/img/edit.png' %}"/></a>
            <a href=""><img src="{% static 'browse/img/delete.png' %}"/></a>
        </div>
    </div>

    <div id="rep_header_details">
        <p data-bind='text: investigation().i_title'>
        </p>

        <p data-bind='text: investigation().i_description'>
        </p>

    </div>
</div>

<div id="rep_publications" class="rep_container">
    <div class="rep_header">
        <h2>Publications</h2>

        <div>
            <a data-target="#collapse_1" data-toggle="collapse" href="#collapse_1" class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>

        <div>
            <a><img src="{% static 'browse/img/edit.png' %}"/>
            </a>
        </div>
    </div>

    <div id="collapse_1" class="collapse in" data-bind="foreach:investigation().i_pubs_model.publications">
        <div class="gray_title" data-bind='text: pub_title'></div>
        <p data-bind='text: pub_author_list'>
            <br><a href="">BIOINFORMATICS, 2008</a>
        </p>
    </div>

</div>

<div id="rep_contacts" class="rep_container">
    <div class="rep_header">
        <h2>Contacts</h2>

        <div>
            <a data-target="#collapse_2" data-toggle="collapse" href="#collapse_2" class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
        <div>
            <a><img src="{% static 'browse/img/edit.png' %}"/>
            </a>
        </div>
    </div>

    <div id="collapse_2" class="collapse in" data-bind="foreach:investigation().i_contacts_model.contacts">
        <div class="rep_contact">
            <div class="rep_contact_name">
                <span data-bind='text: $data.person_first_name'></span>
                <span data-bind="text: $data.person_mid_initials+'.' "></span>
                <span data-bind='text: $data.person_last_name'></span>
            </div>
            <span data-bind='text: $data.person_affiliation'></span>
        </div>
    </div>
</div>

<div class="studies" data-bind="foreach:investigation().i_studies_model.studies">

    <div class="study">
        <div class="study_id">
            <a href="{% url 'browse.investigation.study' request.session.currentInvestigation %}+$index" data-bind="text: $data.s_id"></a>
        </div>
        <div class="study_info">
            <div class="study_char" data-bind="foreach:$data.s_organisms">
                <!-- ko if: ($index() < $parent.s_organisms.length-1) --><span data-bind="text:$data+','"></span><!-- /ko -->
                <!-- ko if: ($index() == $parent.s_organisms.length-1) --><span data-bind="text:$data"></span><!-- /ko -->
            </div>

            <div class="study_details">

                <div class="study_title" data-bind='text: $data.s_title'>
                </div>

                <div class="assays" data-bind="foreach:$data.s_assays_model.assays">
                    <div class="assay">
                        <a href="{% url 'browse.investigation.study' request.session.currentInvestigation %}+$parentContext/assay/$index">
                            <div data-bind='text: $data.number_of_samples'>
                            </div>
                            <div class="assay_type">
                                <div>
                                    <img data-bind="attr: { src:'{% static 'browse/img/measurements/'%}'+$data.measurement+'.png'}"/>

                                    <p data-bind='text: $data.measurement'>
                                    </p>
                                </div>
                                <div>
                                    <img data-bind="attr: { src:'{% static 'browse/img/technologies/'%}'+$data.technology+'.png'}"/>

                                    <p data-bind='text: $data.technology'>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock %}

