{% extends "base.html" %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block extracss %}
<link href="{% static 'browse/css/report.css' %}" rel="stylesheet">
<link href="{% static 'browse/css/study.css' %}" rel="stylesheet">
<link href="{% static 'browse/css/browse.css' %}" rel="stylesheet">
{% endblock %}
{% block extrascript %}
<script src="{% static 'browse/js/collapse.js' %}"></script>
{% endblock %}
{% block title %}BII | Study{% endblock %}
{% block content %}

{% include "breadcrumb_bar.html" %}

<div id="rep_top_details" class="rep_container">
    <div id="rep_header_blue">
        <h1>BII-S-1</h1>

        <div>
            <a href=""><img src="{% static 'browse/img/download.png' %}"/></a>
            <a href=""><img src="{% static 'browse/img/edit.png' %}"/></a>
            <a href=""><img src="{% static 'browse/img/delete.png' %}"/></a>
        </div>
    </div>

    <div id="rep_header_details">
        <p>Study of the impact of changes in flux on the transcriptome, proteome, endometabolome
            andxexometabolome of the yeast Saccharomyces cerevisiae under different nutrient limitations.
        </p>

        <p>
            We wished to study the impact of growth rate on the total complement of mRNA molecules, proteins, and
            metabolites in
            S. cerevisiae, independent of any nutritional or other physiological effects. To achieve this, we carried
            out
            our analyses on
            yeast grown in steady-state chemostat culture under four different nutrient limitations (glucose, ammonium,
            phosphate,
            and sulfate) at three different dilution (that is, growth) rates (D = u = 0.07, 0.1, and 0.2/hour,
            equivalent to
            population
            doubling times (Td) of 10 hours, 7 hours, and 3.5 hours, respectively; u = specific growth rate defined as
            grams
            of biomass
            generated per gram of biomass present per unit time).
        </p>

    </div>
</div>

<div id="rep_publications" class="rep_container">
    <div class="rep_header">
        <h2>Publications</h2>

        <div>
            <a data-target="#collapse_1" data-toggle="collapse" href="#collapse_1" class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
    </div>

    <div id="collapse_1" class="collapse in">
        <div class="gray_title">Growth control of the eukaryote cell: a systems biology study in yeast.</div>
        <p>Castrillo JI, Zeef LA, Hoyle DC, Zhang N, Hayes A, Gardner DC, Cornell MJ, Petty J,
            Hakes L, Wardleworth L, Rash B, Brown M, Dunn WB, Broadhurst D, O'Donoghue K, Hester SS,
            Dunkley TP, Hart SR, Swainston N, Li P, Gaskell SJ, Paton NW, Lilley KS, Kell DB, Oliver SG
            <br><a href="">BIOINFORMATICS, 2008</a>
        </p>
    </div>

</div>

<div id="rep_contacts" class="rep_container">
    <div class="rep_header">
        <h2>Contacts</h2>

        <div>
            <a data-target="#collapse_2" data-toggle="collapse" href="#collapse_2" class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
    </div>

    <div id="collapse_2" class="collapse in">
        <div class="rep_contact">
            <span class="rep_contact_name">Juan I. Castrillo</span> Cambridge University
        </div>
        <div class="rep_contact">
            <span class="rep_contact_name">Leo A. Zeef</span> Cambridge University
        </div>
        <div class="rep_contact">
            <span class="rep_contact_name">Stephen G. Oliver</span> Cambridge University
        </div>
    </div>
</div>

<div id="rep_assays" class="rep_container">
    <div class="rep_header">
        <h2>Assays</h2>

        <div>
            <a data-target="#collapse_3" data-toggle="collapse" href="#collapse_3" class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
    </div>


    <div class="collapse in" id="collapse_3">
        <div class="assay_title gray_title b_left_blue">
            <span class="title_text"> TRANSCRIPTION PROFILING <span>USING</span> DNA MICROARRAY <span
                    class="assay_num">48</span></span>

            <div><a href="{% url 'browse.investigation.study.assay' %}">DETAILS</a></div>
        </div>

        <div class="assay_details">
            <div class="assay_details_title">
                <div>
                    <a data-target="#collapse_4" data-toggle="collapse" href="#collapse_4"
                       class="dropdown_button">
                        <img src="{% static 'browse/img/dropdown_grey.png' %}"/>
                    </a>
                </div>
                <span>Saccharomyces cerevisiae (Baker's yeast) <span><a href="">STRAIN FY1679</a></span> </span>
            </div>

            <div id="collapse_4" class="assay_columns collapse in">
                <div class="assay_column">
                    <div class="assay_column_title">
                        <span>Carbon 0.2 l/hour</span>

                        <div>
                            <a data-target="#collapse_5" data-toggle="collapse" href="#collapse_5"
                               class="dropdown_button"><img src="{% static 'browse/img/dropdown_grey.png' %}"/></a>
                        </div>
                    </div>

                    <div class="assay_rows collapse in" id="collapse_5">

                        <div class="assay_row">
                            <a href="{% url 'browse.investigation.study.sample' %}">GSM 33421</a>

                            <div>
                                <img src="{% static 'browse/img/raw_data.png' %}"/>
                                <img src="{% static 'browse/img/processed_data.png' %}"/>
                                <img src="{% static 'browse/img/analysis_result_gray.png' %}"/>
                            </div>
                        </div>

                        <div class="assay_row">
                            <a href="{% url 'browse.investigation.study.sample' %}">GSM 33422</a>

                            <div>
                                <img src="{% static 'browse/img/raw_data.png' %}"/>
                                <img src="{% static 'browse/img/processed_data.png' %}"/>
                                <img src="{% static 'browse/img/analysis_result_gray.png' %}"/>
                            </div>
                        </div>

                        <div class="assay_row">
                            <a href="{% url 'browse.investigation.study.sample' %}">GSM 33423</a>

                            <div>
                                <img src="{% static 'browse/img/raw_data.png' %}"/>
                                <img src="{% static 'browse/img/processed_data.png' %}"/>
                                <img src="{% static 'browse/img/analysis_result_gray.png' %}"/>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="assay_column">

                    <div class="assay_column_title">
                        <span>Sulphur 0.07 l/hour</span>

                        <div>
                            <a data-target="#collapse_6" data-toggle="collapse" href="#collapse_6" class="dropdown_button"><img src="{% static 'browse/img/dropdown_grey.png' %}"/></a>
                        </div>
                    </div>

                    <div class="assay_rows collapse in" id="collapse_6">

                        <div class="assay_row">
                            <a href="{% url 'browse.investigation.study.sample' %}">GSM 33431</a>

                            <div>
                                <img src="{% static 'browse/img/raw_data.png' %}"/>
                                <img src="{% static 'browse/img/processed_data.png' %}"/>
                                <img src="{% static 'browse/img/analysis_result_gray.png' %}"/>
                            </div>
                        </div>

                        <div class="assay_row">
                            <a href="{% url 'browse.investigation.study.sample' %}">GSM 33432</a>

                            <div>
                                <img src="{% static 'browse/img/raw_data.png' %}"/>
                                <img src="{% static 'browse/img/processed_data.png' %}"/>
                                <img src="{% static 'browse/img/analysis_result_gray.png' %}"/>
                            </div>
                        </div>

                        <div class="assay_row">
                            <a href="{% url 'browse.investigation.study.sample' %}">GSM 33433</a>

                            <div>
                                <img src="{% static 'browse/img/raw_data.png' %}"/>
                                <img src="{% static 'browse/img/processed_data.png' %}"/>
                                <img src="{% static 'browse/img/analysis_result_gray.png' %}"/>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

