{% extends "base.html" %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block extracss %}
<link href="{% static 'libs/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" rel="stylesheet">
<link href="{% static 'upload/css/upload.css' %}" rel="stylesheet">
{% endblock %}
{% block extrascript %}
<script>
    var upload_session = '{% autoescape off %}{{ request.session.upload_session }}{% endautoescape %}';
    if (upload_session && upload_session.length > 0) {
        upload_session = upload_session.replace('\\n', '\\\\n')
        upload_session = upload_session.replace('\\t', '\\\\t')
        upload_session = upload_session.replace('\\r', '\\\\r')
        upload_session = JSON.parse(upload_session);
    }

    vars = {
        ws_server: '{{WS_SERVER}}',
        url: {
            uploadFile: "{% url 'upload.uploadFile' %}",
            uploadFileProgress: "{% url 'upload.uploadFileProgress' %}",
            cancelUpload: "{% url 'upload.cancelUpload' %}"
        },
        upload_session: upload_session
    }
</script>
<script src="{% static 'libs/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
<script src="{% static 'upload/js/request.js' %}"></script>
<script src="{% static 'upload/js/init_upload.js' %}"></script>
<script src="{% static 'upload/js/upload.js' %}"></script>
<script src="{% static 'upload/js/progressHandler.js' %}"></script>
<script src="{% static 'upload/js/helper.js' %}"></script>
{% endblock %}
{% block title %}BII | Upload{% endblock %}
{% block content %}
<div id="upload-container">
    <h2>Upload ISA-Tab</h2>

    <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-append">
            <div class="uneditable-input span3"><i class="fileupload-exists icon-file"></i> <span
                    class="fileupload-name"></span></div>
                <span id="select_file" class="btn btn-file btn-info fileupload-new"><span>Select file</span>
                    <input id="file" name="file" type="file"/></span>
            <button id="cancel" onclick="javascript:upload.cancel();" class="fileupload-exists btn btn-info"
               data-dismiss="fileupload">Cancel</button>
        </div>
        <div class="main-connector"></div>
    </div>

    <div class="uploading-container">
        <div class="connector">
        </div>
        <div class="connector-pin grey"></div>
        <div id="uploading" class="upload-function">
            <div class="title grey">UPLOADING</div>
            <div>
                <div class="filename"></div>
                <div class="progress">
                    <div class="bar grey">0%</div>
                </div>

                <div class="issue dropdown warnings-container">
                    <a class="dropdown-toggle" href="#">
                        <div class="issue_title warnings"></div>
                    </a>

                    <div class="dropdown-menu warnings">
                        <div class="issue_content"></div>
                    </div>
                </div>

                <div class="issue dropdown errors-container">
                    <a class="dropdown-toggle" href="#">
                        <div class="issue_title errors"></div>
                    </a>

                    <div class="dropdown-menu errors">
                        <div class="issue_content"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="uploading-container">
        <div class="connector"></div>
        <div class="connector-pin green"></div>
        <div id="validating" class="upload-function">
            <div class="title green">VALIDATING</div>
            <div>
                <div class="filename"></div>
                <div class="progress">
                    <div class="bar green">0%</div>
                </div>
                <div class="issue dropdown warnings-container">
                    <a class="dropdown-toggle" href="#">
                        <div class="issue_title warnings"></div>
                    </a>

                    <div class="dropdown-menu warnings">
                        <div class="issue_content"></div>
                    </div>
                </div>

                <div class="issue dropdown errors-container">
                    <a class="dropdown-toggle" href="#">
                        <div class="issue_title errors"></div>
                    </a>

                    <div class="dropdown-menu errors">
                        <div class="issue_content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uploading-container">
        <div class="connector">
        </div>
        <div class="connector-pin orange"></div>
        <div id="persisting" class="upload-function">
            <div class="title orange">PERSISTING</div>
            <div>
                <div class="filename"></div>
                <div class="progress">
                    <div class="bar orange">0%</div>
                </div>
                <div class="issue dropdown warnings-container">
                    <a class="dropdown-toggle" href="#">
                        <div class="issue_title warnings"></div>
                    </a>

                    <div class="dropdown-menu warnings">
                        <div class="issue_content"></div>
                    </div>
                </div>

                <div class="issue dropdown errors-container">
                    <a class="dropdown-toggle" href="#">
                        <div class="issue_title errors"></div>
                    </a>

                    <div class="dropdown-menu errors">
                        <div class="issue_content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="result">
        <a href="{% url 'browse.investigation' %}">
            <div class="filename"></div>
        </a>
    </div>

</div>
{% endblock %}