{% extends "base.html" %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block extracss %}
<link href="{% static 'libs/bootstrap-fileupload/bootstrap-fileupload.min.css' %}" rel="stylesheet">
<link href="{% static 'upload/css/upload.css' %}" rel="stylesheet">
{% endblock %}
{% block extrascript %}
<script src="{% static 'libs/bootstrap-fileupload/bootstrap-fileupload.min.js' %}"></script>
{% endblock %}
{% block title %}BII | Upload{% endblock %}
{% block content %}

<h2>Upload ISA-Tab</h2>

<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="input-append">
        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span
                class="fileupload-preview"></span></div>
        <span class="btn btn-file"><span class="fileupload-new">Select file</span><span
                class="fileupload-exists">Change</span><input type="file"/></span><a href="#"
                                                                                     class="btn fileupload-exists"
                                                                                     data-dismiss="fileupload">Remove</a>
    </div>
</div>


{% endblock %}