{% extends "registration/registration_base.html" %}
{% load widget_tweaks %}
{% block title %}BII | Log in{% endblock %}

{% block content %}

<h1>Sign in</h1>

<form method="post" action="/accounts/login/?next={{ next|default:"/" }}">{% csrf_token %}
<dl>
<dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="errors">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
{{ form.username|add_class:"field" }}
<dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="errors">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
{{ form.password|add_class:"field" }}
<dt><input type="submit" class="btn btn-info" value="Sign in" /></dt>
</dl>
</form>
<p>Need an account, you can <a href="{% url 'registration.views.register' %}">sign
up here</a>
{% endblock %}

