{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}BII{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="{% static 'main/css/base.css' %}" rel="stylesheet">
		<link href="{% static 'libs/bootstrap/css/bootstrap.css' %}"
		rel="stylesheet" media="screen">
		<link href="{% static 'libs/bootstrap/css/bootstrap.css' %}"
		rel="stylesheet" media="screen">
		<link
		href="{% static 'libs/bootstrap/css/bootstrap-responsive.min.css' %}"
		rel="stylesheet" media="screen">
		<script src="{% static 'libs/jquery/jquery-1.9.1.min.js' %}"></script>
		<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div id="top-container">
				<div class="navbar">
					<div id="top">
						<ul class="nav">
							<li>
								<a href="{% url 'bii_webapp.apps.main.views.index' %}"><img src="{% static 'main/img/logo.png' %}"/></a>
							</li>
							{% if user.is_authenticated %}
							<li id="user_profile">
								<div><img src="{% static 'main/img/profile.png' %}"/>
								</div>
								<div>
									<a>{{user.username }}</a>
									<a href="{% url 'bii_webapp.apps.accounts.views.profile' %}">Profile</a>
									<a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
								</div>
							</li>
							{% else %}
							<li id="login">
								<a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
								<a href="{% url 'registration.views.register' %}">Register</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<div id="main-menu">
						<ul class="nav nav-pills">
							<li>
								<a href="{% url 'bii_webapp.apps.main.views.index' %}" > <img src="{% static 'main/img/home.png' %}"/>
								<p>
									Home
								</p></a>
							</li>
							<li>
								<a href="{% url 'bii_webapp.apps.main.views.search' %}" > <img src="{% static 'main/img/search.png' %}"/>
								<p>
									Browse
								</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="main-container">
				<div id="main-content">
					{% block content %}{% endblock %}
				</div>
			</div>
			<div id="footer">
			<p><img src="{% static 'main/img/footer_logo.png' %}"/><span>Copyright 2013-Present, ISA tools team</span>
			</p>
		</div>
		</div>
	</body>
</html>