@CHARSET "ISO-8859-1";

.field{
    min-width: 300px !important;
}

label{
  color:#69696B;  
}

[readonly]{
	background-color:white!important;
}

p{
    color:#69696B;
    font-size: 16px;
}

p a{
    color:#4f4f50;
    font-weight: bold;
}

.errors{
    color:red;
}

.errorlist{
    color:red;
}

p a:hover{
    color:#3e3e3f;
}

h1{
    color: #3e3e3f;
}

h1+p{
	max-width: 400px;
}

