@CHARSET "ISO-8859-1";
#id_email + changeattr{
	color: ##3e3e3f;
}

#id_email + changeattr:hover{
	color: #3e3e3f;
}

.field{
	min-width: 300px;
}

[readonly=readonly]{
	background-color: white !important;
}

