{% extends "registration/registration_base.html" %}
{% load widget_tweaks %}
{% block title %}BII | Edit Profile{% endblock %}

{% block content %}
  <h1>Hi, {{user.username}}</h1>
  <form method="post" action="" class="wide">
	{% csrf_token %}
    <label for="id_username">Username:</label>
    {% if userform.username.errors %}
        <p class="errors">{{ userform.username.errors.as_text }}</p>
      {% endif %}
    {{ userform.username|add_class:"field"}}
    <label for="id_first_name">First Name:</label>
      {% if userform.first_name.errors %}
        <p class="errors">{{ userform.first_name.errors.as_text }}</p>
      {% endif %}
      {{ userform.first_name|add_class:"field" }}
    <label for="id_last_name">Last Name:</label>
      {% if userform.last_name.errors %}
        <p class="errors">{{ userform.last_name.errors.as_text }}</p>
      {% endif %}
      {{ userform.last_name|add_class:"field" }}
      <label for="id_email">Email address:</label>
      {% if userform.email.errors %}
        <p class="errors">{{ userform.email.errors.as_text }}</p>
      {% endif %}
      {{ userform.email|add_class:"field" }}
      <!-- <label for="id_password1">Password:</label>
      {% if form.password1.errors %}
        <p class="errors">{{ form.password1.errors.as_text }}</p>
      {% endif %}
      {{ form.password1|add_class:"field"}}
      <label for="id_password2">Password (type again to catch typos):</label>
      {% if form.password2.errors %}
        <p class="errors">{{ form.password2.errors.as_text }}</p>
      {% endif %}
      {{ form.password2|add_class:"field" }} -->
      <label for="id_website">Website:</label>
      {% if profileform.website.errors %}
        <p class="errors">{{ profileform.website.errors.as_text }}</p>
      {% endif %}
      {{ profileform.website|add_class:"field" }}
      <label for="id_company">Company:</label>
      {% if profileform.company.errors %}
        <p class="errors">{{ profileform.company.errors.as_text }}</p>
      {% endif %}
      {{ profileform.company|add_class:"field" }}
    <p class="submit"><input class="btn btn-info" type="submit" value="Save"></p>
  </form>
  
{% endblock %}
