<h2>INVESTIGATION DESCRIPTION</h2>
<table>
    <tbody>
    <tr>
        <td>Investigation Identifier</td>
        <td><input type="text"  data-bind='value: investigation().i_id, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Investigation Title</td>
        <td><input type="text"  data-bind='value: investigation().i_title, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Investigation Description</td>
        <td><textarea  data-bind='value: investigation().i_description, uniqueName: false'></textarea></td>
    </tr>
    <tr>
        <td>Investigation Submission Date</td>
        <td><input type="date"
                   data-bind='value: investigation().i_submission_date, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Investigation Public Release Date</td>
        <td><input type="date"
                   data-bind='value: investigation().i_public_release_date, uniqueName: false'/></td>
    </tr>
    </tbody>
</table>