<h2>STUDY DESCRIPTION</h2>
<table>
    <tbody>
    <tr>
        <td>Study Identifier</td>
        <td><input type="text"  data-bind='value: s_id, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Title</td>
        <td><input type="text"  data-bind='value: s_title, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Description</td>
        <td><textarea  data-bind='value: s_description, uniqueName: false'></textarea></td>
    </tr>
    <tr>
        <td>Study Grand Number [c]</td>
        <td><input type="text"
                   data-bind='value: s_grand_number, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Funding Agency [c]</td>
        <td><input type="text"
                   data-bind='value: s_funding_agency, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Submission Date</td>
        <td><input type="date"
                   data-bind='value: s_submission_date, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Public Release Date</td>
        <td><input type="date"
                   data-bind='value: s_public_release_date, uniqueName: false'/></td>
    </tr>
    </tbody>
</table>

<h2>STUDY ASSAYS (<span data-bind='text: $data.s_assays_model.assays().length'></span>)</h2>
<div class="tabbable">

    <!-- ko if: ($data.s_assays_model.assays().length > 0) -->
    <ul id="assays_tab" class="nav nav-tabs" data-bind="foreach:$data.s_assays_model.assays">
        <li data-bind="attr: {class:$index()===0 ? 'active' : ''}">
            <a data-bind="attr: { href:'#assays_tab' + ($index()+1)}" data-toggle="tab">
                <img data-bind='click: $parent.s_assays_model.removeAssay' src="/bii_webapp/static/base/img/basket_x.png" onclick="javascript:selectDefaultStudy(this)">
                Assay
                <span data-bind="text: ($index()+1)"></span></a></li>
        <!-- ko if: ($index() === ($parent.s_assays_model.assays().length - 1)) -->
        <li><a href="#" class="add_item" data-bind='click: $parent.s_assays_model.addAssay' data-toggle="tab">+</a>
        </li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->

    <!-- ko if: ($data.s_assays_model.assays().length > 0) -->
    <div class="tab-content" id="assay_tab_content">
        <!-- ko foreach: $data.s_assays_model.assays -->
        <div class="tab-pane active"
             data-bind="attr: { id:'assays_tab'+($index()+1),class:$parent.s_assays_model.assays().length==1 || $index()===0 ? 'tab-pane active' : 'tab-pane'} ">
            {% include "study_assays.html" %}
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko if: ($data.s_assays_model.assays().length == 0) -->
    <ul class="nav nav-tabs">
        <li><a href="#" class="add_item" data-bind='click: $data.s_assays_model.addAssay' data-toggle="tab">+</a>
        </li>
    </ul>
    <!-- /ko -->

</div>

<h2>STUDY PUBLICATIONS (<span data-bind='text: $data.s_pubs_model.publications().length'></span>)</h2>
<div class="tabbable">
    <ul id="pubs_tab" class="nav nav-tabs" data-bind="foreach:$data.s_pubs_model.publications">
        <li data-bind="attr: {class:$index()===0 ? 'active' : ''}">
            <a data-bind="attr: { href:'#pubs_tab' + ($index()+1)}" data-toggle="tab">
                <!-- ko if: ($index() !== 0) -->
                <img data-bind='click: $parent.s_pubs_model.removePublication' src="/bii_webapp/static/base/img/basket_x.png" onclick="javascript:selectDefaultStudy(this)">
                <!-- /ko -->
                Publication
                <span data-bind="text: ($index()+1)"></span></a></li>
        <!-- ko if: ($index() === ($parent.s_pubs_model.publications().length - 1)) -->
        <li><a href="#" class="add_item" data-bind='click: $parent.s_pubs_model.addPublication' data-toggle="tab">+</a>
        </li>
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <!-- ko foreach: $data.s_pubs_model.publications -->
        <div class="tab-pane active"
             data-bind="attr: { id:'pubs_tab'+($index()+1),class:$parent.s_pubs_model.publications().length==1 || $index()===0 ? 'tab-pane active' : 'tab-pane'} ">
            {% include "study_publications.html" %}
        </div>
        <!-- /ko -->
    </div>
</div>

<h2>STUDY FACTORS (<span data-bind='text: $data.s_factors_model.factors().length'></span>)</h2>
<div class="tabbable">
    <ul id="factors_tab" class="nav nav-tabs" data-bind="foreach:$data.s_factors_model.factors">
        <li data-bind="attr: {class:$index()===0 ? 'active' : ''}">
            <a data-bind="attr: { href:'#factors_tab' + ($index()+1)}" data-toggle="tab">
                <!-- ko if: ($index() !== 0) -->
                <img data-bind='click: $parent.s_factors_model.removeFactor' src="/bii_webapp/static/base/img/basket_x.png" onclick="javascript:selectDefaultStudy(this)">
                <!-- /ko -->
                Factor
                <span data-bind="text: ($index()+1)"></span></a></li>
        <!-- ko if: ($index() === ($parent.s_factors_model.factors().length - 1)) -->
        <li><a href="#" class="add_item" data-bind='click: $parent.s_factors_model.addFactor' data-toggle="tab">+</a>
        </li>
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <!-- ko foreach: $data.s_factors_model.factors -->
        <div class="tab-pane active"
             data-bind="attr: { id:'factors_tab'+($index()+1),class:$parent.s_factors_model.factors().length==1 || $index()===0 ? 'tab-pane active' : 'tab-pane'} ">
            {% include "study_factors.html" %}
        </div>
        <!-- /ko -->
    </div>
</div>

<h2>STUDY PROTOCOLS (<span data-bind='text: $data.s_protocols_model.protocols().length'></span>)</h2>

<div class="tabbable">
    <ul id="protocols_tab" class="nav nav-tabs" data-bind="foreach:$data.s_protocols_model.protocols">
        <li data-bind="attr: {class:$index()===0 ? 'active' : ''}">
            <a data-bind="attr: { href:'#protocols_tab' + ($index()+1)}" data-toggle="tab">
                <!-- ko if: ($index() !== 0) -->
                <img data-bind='click: $parent.s_protocols_model.removeProtocol' src="/bii_webapp/static/base/img/basket_x.png" onclick="javascript:selectDefaultStudy(this)">
                <!-- /ko -->
                Protocol
                <span data-bind="text: ($index()+1)"></span></a></li>
        <!-- ko if: ($index() === ($parent.s_protocols_model.protocols().length - 1)) -->
        <li><a href="#" class="add_item" data-bind='click: $parent.s_protocols_model.addProtocol'
               data-toggle="tab">+</a></li>
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <!-- ko foreach: $data.s_protocols_model.protocols -->
        <div class="tab-pane active"
             data-bind="attr: { id:'protocols_tab'+($index()+1),class:$parent.s_protocols_model.protocols().length==1 || $index()===0 ? 'tab-pane active' : 'tab-pane'} ">
            {% include "study_protocols.html" %}
        </div>
        <!-- /ko -->
    </div>
</div>

<h2>STUDY CONTACTS (<span data-bind='text: $data.s_contacts_model.contacts().length'></span>)</h2>

<div class="tabbable">
    <ul id="contacts_tab" class="nav nav-tabs" data-bind="foreach:$data.s_contacts_model.contacts">
        <li data-bind="attr: {class:$index()===0 ? 'active' : ''}">
            <a data-bind="attr: { href:'#contacts_tab' + ($index()+1)}" data-toggle="tab">
                <!-- ko if: ($index() !== 0) -->
                <img data-bind='click: $parent.s_contacts_model.removeContact' src="/bii_webapp/static/base/img/basket_x.png" onclick="javascript:selectDefaultStudy(this)">
                <!-- /ko -->
                Contact
                <span data-bind="text: ($index()+1)"></span></a></li>
        <!-- ko if: ($index() === ($parent.s_contacts_model.contacts().length - 1)) -->
        <li><a href="#" class="add_item" data-bind='click: $parent.s_contacts_model.addContact' data-toggle="tab">+</a>
        </li>
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <!-- ko foreach: $data.s_contacts_model.contacts -->
        <div class="tab-pane active"
             data-bind="attr: { id:'contacts_tab'+($index()+1),class:$parent.s_contacts_model.contacts().length==1 || $index()===0 ? 'tab-pane active' : 'tab-pane'} ">
            {% include "study_contacts.html" %}
        </div>
        <!-- /ko -->
    </div>
</div>