<table>
    <tbody>
    <tr>
        <td>Study Person REF [c]</td>
        <td><input type="text" 
                   data-bind='value: s_person_ref, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Person Last Name</td>
        <td><input type="text" 
                   data-bind='value: s_person_last_name, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person First Name</td>
        <td><input type="text" 
                   data-bind='value: s_person_first_name, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person Mid Initials</td>
        <td><input type="text" 
                   data-bind='value: s_person_mid_initials, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person Email</td>
        <td><input type="text" 
                   data-bind='value: s_person_email, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person Phone</td>
        <td><input type="text" 
                   data-bind='value: s_person_phone, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person Fax</td>
        <td><input type="text" 
                   data-bind='value: s_person_fax, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person Address</td>
        <td><input type="text" 
                   data-bind='value: s_person_address, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person Affiliation</td>
        <td><input type="text" 
                   data-bind='value: s_person_affiliation, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Person Roles</td>
        <td><input type="text" 
                   data-bind='value: s_person_roles, uniqueName: false'/></td>
    </tr>
    </tbody>
</table>