<table>
    <tbody>
    <tr>
        <td>Study PubMed ID</td>
        <td><input type="text" 
                   data-bind='value: s_pubmed_id, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Publication DOI</td>
        <td><input type="text" 
                   data-bind='value: s_pub_doi, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Publication Author List</td>
        <td><textarea 
                      data-bind='value: s_pub_author_list, uniqueName: false'></textarea></td>
    </tr>
    <tr>
        <td>Study Publication Title</td>
        <td><input type="text" 
                   data-bind='value: s_pub_title, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Publication Status</td>
        <td><input type="text" 
                   data-bind='value: s_pub_status, uniqueName: false'/></td>
    </tr>
    </tbody>
</table>