<table>
    <tbody>
    <tr>
        <td>Study Protocol Name</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_name, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Protocol Type</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_type, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Protocol Description</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_description, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Protocol URI</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_uri, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Protocol Version</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_version, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Protocol Parameters Name</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_parameters_name, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Protocol Components Name</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_components_name, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Study Protocol Compoenents Type</td>
        <td><input type="text" 
                   data-bind='value: s_protocol_components_type, uniqueName: false'/></td>
    </tr>
    </tbody>
</table>