<style>
#dropdown-profile {
    display: none;
    margin-top:0px;
    padding: 0px;
}
#dropdown-profile ul {
    list-style-type: none;
    margin:0px 0px 0px 0px ;
}
#dropdown-profile li {
    height: 40px;
    line-height:40px;
}
#dropdown-profile li > a {
    text-align:center;
    font-weight: bold;
}

#dropdown-profile li > a:hover{
    color: yellow!important;
    text-decoration: none;
}

#dropdown-profile a:hover{
     background-color: #5678BE;
} 

#user_profile.dropdown:hover div#dropdown-profile {
    display: block;
}

#user_profile a.menu:after, #user_profile.dropdown-toggle:after {
    content: none;
}
</style>

<div id="dropdown-profile">
    <ul>
    <li><a href="/accounts/logout">Account</a></li>
    <li><a href="/accounts/logout">Sign Out</a></li>
    </ul>
</div>