<style>
#dropdown-profile {
    display: none;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
}

#dropdown-profile a {
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
}

#dropdown-profile a:hover{
     background-color: #5678BE;
} 

#user_profile.dropdown:hover div#dropdown-profile {
    display: block;
}

#user_profile a.menu:after, #user_profile.dropdown-toggle:after {
    content: none;
}
</style>

<div id="dropdown-profile">
    <a class="btn btn-primary" href="/accounts/logout">Sign Out</a>
</div>